.about-service {
  background-color: $special-blue-700;
}

.about-service__container {
  padding-top: 39px;
  padding-bottom: 82px;
  background-image: url("/img/about-mobile-background.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 89px;
    background-image: url("/img/about--tablet.png"),
    url("/img/about-background--tablet.png");
    background-position: 388px 40px, 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 132px;
    padding-bottom: 130px;
    background-image: url("/img/about--desktop.png"),
    url("/img/about-background--desktop.png");
    background-position: 753px 85px, 60px 67px;
  }
}

.about-service__title {
  margin: 0;
  margin-bottom: 19px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $special-yellow-900;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.about-service__text {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    max-width: 408px;
    grid-column: 1/2;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 31px;

    &--footnote {
      margin-bottom: 52px;
      font-size: 21px;
      line-height: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 619px;
    line-height: 34px;
    margin-bottom: 38px;

    &--footnote {
      max-width: 425px;
      line-height: 24px;
      margin-bottom: 85px;
    }
  }
}

.about-service__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    width: 276px;
    grid-column: 1/2;
    margin-left: 24px;
    margin-right: 24px;
  }
}
