.about-service {
  padding-top: 39px;
  padding-bottom: 82px;
  background-color: $special-blue-700;
  background-image: url("/img/about-mobile-background.png");
  background-repeat: no-repeat;
  background-position: center;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 343px 343px;
    padding-bottom: 89px;
    background-image: url("/img/about--tablet.png"),
      url("/img/about-background--tablet.png");
      background-position: 388px 40px, 40px 0;
  }
}

.about-service__title {
  margin: 0;
  margin-bottom: 19px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $special-yellow-900;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }
}

.about-service__text {
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  &:nth-of-type(1) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 28px;
    line-height: 33px;

    &:nth-of-type(1) {
      margin-bottom: 31px;
    }

    &:nth-of-type(2) {
      margin-bottom: 52px;
      font-size: 21px;
      line-height: 25px;
    }
  }
}

.about-service__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 28px;
    padding-bottom: 28px;
    width: auto;
    grid-column: 1/2;
    margin-left: 24px;
    margin-right: 24px;
  }
}
