.about-directions {
  position: relative;
  margin-top: -30px;
  background-color: $special-blue-10;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 80;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    background-image: url("/img/flags-back.png");
    background-repeat: no-repeat;
    background-position: right 40px top 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.about-directions__container {
  padding-top: 133px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 288px;
    padding-left: 76px;
    padding-right: 76px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 350px;
    column-gap: 169px;
    padding: 161px 230px 149px 131px;
  }
}

.about-directions__header {
  padding: 0 29px 0 23px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 104px;
  }
}

.about-directions__title {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $special-yellow-900;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 57px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.about-directions__text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 378px;

    &:last-of-type {
      grid-row: 3/4;
    }
  }
}

.about-directions__list {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/5;
  }
}

.about-directions__button {
  position: relative;
  margin-bottom: 34px;
  padding: 22px 23px;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  border-radius: 10px;
  color: $special-blue-650;
  background-color: $special-yellow-300;
  text-transform: none;
  border: none;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 275px;
  }
}

.about-directions__button-arrow {
  position: absolute;
  right: 32px;
  top: 25px;
}
