.action-steps {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.action-steps__item {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding: 22px 21px 32px 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &--one {
    margin-top: 0;
    background-color: $special-yellow-900;
  }

  &--two {
    background-color: $special-yellow-800;
  }

  &--three {
    background-color: $special-yellow-700;
  }

  &--four {
    background-color: $special-yellow-300;
    border-radius: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    flex-direction: column;
    padding-top: 31px;
    padding-left: 33px;
    padding-right: 33px;

    &--one {
      border-top-left-radius: 18px;
      border-top-right-radius: 0;
    }

    &--two,
    &--four {
      margin-left: -20px;
    }

    &--two {
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
    }

    &--three {
      border-top-left-radius: 0;
      border-bottom-left-radius: 18px;
    }

    &--four {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 18px;
      border-bottom-left-radius: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-right: 57px;
    margin-left: -30px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;

    &:first-child {
      margin-left: 0;
    }

    &--four {
      padding-right: 33px;
      border-top-right-radius: 18px;
    }
  }
}

.action-steps__name {
  display: block;
  width: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $special-blue-800;

  @media (min-width: $tablet-width) {
    min-width: 211px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.action-steps__order {
  font-size: 18px;
  line-height: 18px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}
