.add-plan {
  background-color: $special-blue-80;
  margin-top: -29px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}

.add-plan__container {
  padding-top: 30px;
  padding-bottom: 62px;

  @media (min-width: $tablet-width) {
    padding: 53px 75px 63px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.add-plan__fieldset {
  margin-bottom: 10px;
  padding-top: 24px;
  padding-bottom: 23px;
  border: none;
  background-color: $basic-while;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 54px;
    margin-bottom: 39px;
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 419px 219px;
    padding: 100px 160px 106px 160px;
    margin-bottom: 43px;
    border-radius: 60px;
  }
}

.add-plan__fieldset--step-one {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 170px;

    .add-plan__title,
    .add-plan__text {
      grid-column: 1/2;
    }

    .add-plan__markers {
      grid-column: 2/3;
      grid-row: 1/3;
    }

    .add-plan__search,
    .add-plan__calendar {
      grid-column: 1/-1;
    }
  }
}

.add-plan__fieldset--step-two {
  padding-bottom: 9px;

  .add-plan__title {
    margin-bottom: 13px;
  }

  .add-plan__text {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 42px;
    padding-bottom: 53px;
    margin-bottom: 51px;

    .add-plan__title {
      margin-bottom: 32px;
    }

    .add-plan__text {
      padding-right: 100px;
      margin-bottom: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 419px 219px;
    column-gap: 365px;
  }
}

.add-plan__fieldset--step-three {
  padding-bottom: 0px;

  .add-plan__title {
    margin-bottom: 14px;
  }

  .add-plan__button {
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 490px 219px;
    column-gap: 295px;
  }
}

.add-plan__select {
  padding-top: 0;
}

.add-plan__select,
.add-plan__countries {
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}

.add-plan__markers {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}

.add-plan__search {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    border-top: 1px solid $special-blue-50;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 282px;
    padding-top: 30px;
    margin-bottom: 33px;
  }
}

.add-plan__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $special-blue-650;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 33px;
  }
}

.add-plan__step {
  display: block;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.add-plan__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-right: 12px;
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 55px;
    padding-right: 0;
  }
}

.add-plan__step-buttons {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
  }
}

.add-plan__button {
  position: relative;
  padding: 6px 35px 5px;
  text-decoration: none;
  text-align: center;
  color: $special-blue-650;

  &--back {
    background-color: inherit;
  }

  @media (min-width: $tablet-width) {
    width: 286px;
    padding: 29px 75px 27px 35px;
    text-align: start;
    text-transform: inherit;

    &--back {
      padding-right: 0;
      text-align: end;
      width: auto;
    }
  }

  @media (min-width: $desktop-width) {
    &--back {
      text-align: end;
    }
  }
}

.add-plan__button-arrow,
.add-plan__button-back {
  position: absolute;
  top: 33px;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.add-plan__button-arrow {
  right: 20px;

  @media (min-width: $tablet-width) {
    right: 36px;
  }
}

.add-plan__button-back {
  left: 98px;

  @media (min-width: $tablet-width) {
    left: 0;
  }
}
