.address__information {
  position: relative;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;
  background-color: $special-yellow-300;
  z-index: 45;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
    border-radius: 0 0 56px 56px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -56px;
    border-radius: 0 0 60px 60px;
  }
}

.address__container {
  padding-top: 62px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding: 109px 75px 84px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 115px 135px 52px 283px;
  }
}

.address__street {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 44px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $special-blue-650;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $special-blue-950;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    min-height: 68px;
    padding-left: 93px;
    margin-bottom: 43px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 90px;
    margin-bottom: 0;
    padding-left: 119px;

    &::before {
      width: 90px;
      height: 90px;
    }
  }
}

.address__street-svg {
  position: absolute;
  left: 11px;

  @media (min-width: $tablet-width) {
    left: 17px;
    width: 32px;
    height: 32px;
  }

  @media (min-width: $desktop-width) {
    left: 24px;
    width: 42px;
    height: 42px;
  }
}

.address__button-arrow {
  fill: $special-blue-650;
  position: absolute;
  right: 18px;

  @media (min-width: $tablet-width) {
    right: 32px;
  }
}

.address__button {
  position: relative;
  display: block;
  padding: 18px 19px 19px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $special-blue-650;
  border: 3px solid $special-blue-700;
  border-radius: 10px;

  &:hover {
    background-color: $special-blue-700;
    color: $basic-while;

    .address__button-arrow {
      fill: $basic-while;
    }
  }

  &:active {
    color: rgba($basic-while, 0.3);

    .address__button-arrow {
      fill: rgba($basic-while, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 26px 34px 24px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 80px;
    width: 324px;
    display: flex;
    align-items: center;
  }
}

.address__map {
  margin-top: -54px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 41%;
    left: 46%;
    background-image: url("../img/svg/icon_map.svg");
    width: 56px;
    height: 56px;
    transform: translateX(-50%);
    z-index: 50;
  }

  @media (min-width: $tablet-width) {
    margin-top: -47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -122px;
  }
}

.address__img {
  width: 100%;
}
