.address__street {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $special-blue-650;
}

.address__button {
  display: block;
  padding: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: $special-blue-650;
  border: 3px solid $special-blue-700;
  border-radius: 10px;
}

.address__information {
  background-color: $special-yellow-300;
}
