.catalog-pagination {
  padding-bottom: 84px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 77px;
  }
}

.catalog-pagination__button {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto 18px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $special-blue-650;
  font-family: inherit;
  border: none;
  background-color: inherit;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.catalog-pagination__button svg {
  margin-right: 15px;
  padding-bottom: 3px;
}

.catalog-pagination__switchers {
  min-height: 51px;
  // padding: 11px 63px 10px;
  background-color: $basic-while;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 25px 30px;
  }
}

.catalog-pagination__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.catalog-pagination__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $special-blue-650;
    cursor: pointer;

    &--active {
      width: 50px;
      height: 50px;
      background-color: $special-yellow-200;
      border-radius: 50%;
    }
  }
}

.catalog-pagination__toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 50px;

  &::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 1px;
    height: 51px;
    background-color: $special-blue-10;
  }

  @media (min-width: $tablet-width) {
    width: 100px;

    &::before {
      display: none;
    }
  }
}

.catalog-pagination__switchers-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-decoration: none;
  cursor: pointer;

  svg {
    width: 20px;
    height: 13px;
  }

  &:first-child {
    svg {
      transform: rotate(-180deg);
    }
  }

  @media (min-width: $tablet-width) {
    svg {
      height: 20px;
    }
  }
}
