.change-quantity {
  position: relative;
  margin-bottom: 20px;
}

.change-quantity__button {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;

  &--minus {
    left: 0;
  }

  &--plus {
    right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 70px;
  }
}

.change-quantity__button svg {
  @media (min-width: $tablet-width) {
    width: 20px;
  }
}

.change-quantity__input {
  width: 100%;
  padding: 13px 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: $special-blue-650;
  border: 1px solid $special-blue-120;
  border-radius: 4px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 23px 0 22px;
    font-size: 20px;
    line-height: 20px;
  }
}
