.checkbox {
  position: relative;
  display: block;
  padding-left: 27px;
  cursor: pointer;

  &:hover {
    .checkbox__label {
      color: rgba($basic-black, 0.6);
      transition: 0.5s;
    }
  }

  &:active,
  &:focus {
    .checkbox__label {
      color: rgba($basic-black, 0.3);
    }
  }
}

.checkbox .checkbox__input:checked + .checkbox__label::after {
  background-image: url("../img/svg/icon_check-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-position: 3px 3px;
  }
}

.checkbox--transport .checkbox__input:checked + .checkbox__transport {
  .checkbox__svg {
    fill: $special-blue-650;
  }
}

.checkbox__label {
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    background-color: $basic-white;
    border-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 9px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 2px;
      top: 3px;
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 14px;

    &::after {
      left: 4px;
      top: 0;
    }
  }
}

.checkbox__input {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.checkbox__transport {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: 44px;
    height: 44px;
  }
}

.checkbox__svg {
  fill: rgba($special-blue-650, 0.15);

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;

    &--run,
    &--bicycle {
      width: 29px;
      height: 27px;
    }
  }
}

.checkbox--transport {
  position: relative;
  padding-left: 0;

  span {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    width: max-content;
    padding: 18px 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: $special-blue-600;
    color: $basic-white;
    border-radius: 4px;
    z-index: 50;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: -7px;
      transform: translate(-50%);
      display: block;
      width: 14px;
      height: 8px;
      border: 7px solid transparent;
      border-top: 0;
      border-bottom: 8px solid $special-blue-600;
    }
  }

  &:hover span {
    display: block;
  }

  .checkbox__label {
    display: none;
  }

  .checkbox__input {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $tablet-width) {
    .checkbox__input {
      width: 44px;
      height: 44px;
    }
  }
}
