.checkbox {
  position: relative;
  display: block;
  padding-left: 27px;
}

.checkbox--transport {
  padding-left: 0;
}

.checkbox__label {
  font-size: 15px;
  line-height: 20px;
  color: $basic-black;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 18px;
    height: 18px;
    background-color: $basic-while;
    border-radius: 4px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 9px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 0px;
      top: 2px;
      width: 24px;
      height: 24px;
    }
  }
}

.checkbox__input {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  opacity: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 4px;
    width: 24px;
    height: 24px;
  }
}

.checkbox--transport {
  .checkbox__label {
    display: none;
  }

  .checkbox__input {
    width: 32px;
    height: 32px;
  }
}
