.contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts-list--header {
  .contacts-list__link {
    display: flex;
    align-items: center;
    padding: 14px 30px 13px 60px;

    &::before {
      width: 45px;
      height: 45px;
      background-color: $special-blue-950;
    }
  }

  .contacts-list__svg {
    fill: $special-yellow-200;

    &--phone {
      top: 16px;
      left: 14px;
    }

    &--email {
      top: 17px;
      left: 13px;
    }

    &--phone,
    &--email {
      display: block;
    }

    &--mobile,
    &--mail {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    .contacts-list__svg {
      &--phone {
        top: 21px;
        left: 20px;
      }

      &--email {
        top: 23px;
        left: 17px;
      }
    }

    .contacts-list__link {
      padding: 20px 30px 19px 91px;

      &::before {
        width: 68px;
        height: 68px;
        background-color: $special-blue-950;
      }
    }
  }

  @media (min-width: $desktop-width) {
    .contacts-list__link {
      padding: 0;
      width: 50px;
      height: 50px;

      &:active {
        .contacts-list__svg--mobile,
        .contacts-list__svg--mail {
          opacity: 0.3;
        }
      }

      &--phone:hover,
      &--phone:focus {
        &::before {
          background-color: $special-orange-100;
        }
      }

      &--email:hover,
      &--email:focus {
        &::before {
          background-color: $special-yellow-900;
        }
      }

      .contacts-list__svg {
        fill: $special-blue-900;

        &--phone,
        &--email {
          display: none;
        }

        &--mobile,
        &--mail {
          display: block;
        }
      }

      &::before {
        width: 50px;
        height: 50px;
      }

      &--phone {
        &::before {
          background-color: $special-yellow-900;
        }
      }

      &--email {
        &::before {
          background-color: $special-yellow-700;
        }
      }
    }

    .contacts-list__svg {
      left: 16px;
    }
  }
}

.contacts-list__item {
  display: flex;
}

.contacts-list__link {
  position: relative;
  display: block;
  text-decoration: none;


  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &--phone {
    &::before {
      background-color: $special-yellow-900;
    }
  }

  &--email {
    &::before {
      background-color: $special-yellow-700;
    }
  }
}

.contacts-list--promo {
  display: flex;
  align-items: center;

  .contacts-list__link {
    width: 40px;
    height: 40px;
  }
}

.contacts-list--registration {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 0 auto;

  .contacts-list__item {
    height: 45px;
  }

  .contacts-list__link {
    display: flex;
    align-items: center;
    padding-left: 61px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    color: $special-yellow-300;
    text-transform: uppercase;

    &::before {
      background-color: $special-blue-950;
    }

    &:hover {
      color: $special-yellow-700;

      .contacts-list__svg {
        fill: $special-yellow-700;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .contacts-list__svg {
    display: block;
    top: 16px;
    left: 11px;
    fill: $special-yellow-200;
  }

  @media (min-width: $tablet-width) {
    width: 620px;

    .contacts-list__link {
      padding-left: 90px;
      font-size: 28px;
      line-height: 28px;

      &::before {
        width: 68px;
        height: 68px;
      }
    }

    .contacts-list__svg {
      top: 18px;
      left: 21px;
      width: 27px;
      height: 32px;
    }

    .contacts-list__item {
      height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    flex-direction: row;
    justify-content: center;

    .contacts-list__item:first-child {
      margin-right: 110px;
    }

    .contacts-list__link {
      padding-left: 126px;

      &::before {
        width: 90px;
        height: 90px;
      }
    }

    .contacts-list__svg {
      top: 19px;
      left: 27px;
      width: 36px;
      height: 30px;
    }
  }
}

.contacts-list__svg {
  position: absolute;
  top: 12px;
  right: 12px;
  fill: $special-blue-800;

  &--phone,
  &--email {
    display: none;
  }

  &--mail {
    display: block;
  }

  @media (min-width: $tablet-width) {
    &--phone {
      top: 20px;
      left: 20px;
      width: 26px;
      height: 24px;
    }

    &--email {
      top: 23px;
      left: 18px;
      width: 33px;
      height: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    fill: $special-blue-900;

    &--mobile {
      top: 16px;
      width: 18px;
      height: 18px;
    }

    &--mail {
      top: 16px;
      width: 19px;
      height: 18px;
    }
  }
}

.contacts-list__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $special-blue-700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
