.contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &--header {
    margin-bottom: 53px;
  }

  &--promo {
    display: flex;
    align-items: center;
  }
}

.contacts-list__link {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: $special-blue-700;
  text-decoration: none;
}

.contacts-list__item {
  display: flex;
  // background-color: $special-yellow-700;
}
