.countries-description__country {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  row-gap: 18px;
  margin-bottom: 27px;
}

.countries-description__title {
  padding-left: 11px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $special-blue-650;
}

.countries-description__textarea {
  grid-column: 1/-1;
  display: block;
  width: 220px;
  height: 220px;
  padding: 10px 14px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba($basic-grey, 0.3);
  border: 1px solid $special-blue-120;
  border-radius: 4px;

  &:nth-child(2) {
    color: rgba($basic-grey, 1);
  }
}
