.country-toggle__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-blue-650;
}

.country-toggle__letter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-toggle__button {
  padding: 10px 83px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $special-blue-700;
  border: 0;
  background-color: $special-blue-90;
  border-radius: 20px;
}
