.directions-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.directions-list__item {
  margin-bottom: 11px;
}

.directions-list__country {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  background-color: $basic-while;
  border-radius: 10px;
}

.directions-list__name {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $basic-black;
}

.directions-list__description {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba($basic-grey, 0.3);
}

.directions-list__population {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba($special-blue-800, 0.3);
}
