.directions-list {
  position: relative;
  margin-top: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;

    &::after {
      position: absolute;
      top: -38px;
      left: -36px;
      content: "";
      width: 141px;
      height: 141px;
      background-color: $special-blue-30;
      border-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &::after {
      top: -71px;
      left: -72px;
    }
  }
}

.directions-list__item {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 190px;
  }
}

.directions-list__picture {
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    order: 5;
    justify-self: end;
  }
}

.directions-list__img {
  width: 100%;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 140px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-left-radius: 0;
  }
}

.directions-list__country {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -11px;
  padding: 26px 24px 7px;
  min-height: 89px;
  background-color: $basic-while;
  border-radius: 10px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    justify-content: start;
    flex-direction: column;
    padding: 29px 28px 23px;
    border-radius: 15px 0 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
  }
}

.directions-list__icon {
  position: absolute;
  top: -13px;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: -35px;
  }

  @media (min-width: $desktop-width) {
    top: 24px;
    right: -33px;
  }
}

.directions-list__icon-flag {
  width: 35px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 45px;
  }
}

.directions-list__name {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    max-width: 350px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.directions-list__description {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba($basic-grey, 0.3);

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    font-size: 20px;
    line-height: 20px;
  }
}

.directions-list__population {
  position: relative;
  padding-left: 19px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba($special-blue-800, 0.3);

  &::after {
    position: absolute;
    left: 0;
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("../img/svg/icon_user.svg");
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    font-size: 20px;

    &::after {
      width: 24px;
      height: 24px;
      background-image: url("../img/svg/icon_user-tablet.svg");
    }
  }
}
