.fellow-travelers {
  background-color: $special-blue-700;
}

.fellow-travelers__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $special-yellow-900;
}

.fellow-travelers__text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;
}

.fellow-travelers__button {
  padding-top: 22px;
  padding-bottom: 21px;
  padding-right: 132px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background-color: $special-yellow-300;
  color: $special-blue-650;
  border: none;
  border-radius: 10px;
}
