.filter-profiles {
  padding: 0;
}

.filter-profiles__list {
  display: grid;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  row-gap: 9px;

  @media (min-width: $tablet-width) {
    row-gap: 45px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 31px;
    margin-bottom: 66px;
  }
}

.filter-profiles__item {
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  padding: 15px 22px 23px 18px;
  background-color: $basic-white;
  border-radius: 20px;

  &:first-child {
    .type-of-transports__svg {
      fill: rgba($special-blue-650, 0.15);

      &--plane {
        fill: $special-blue-650;
      }
    }
  }

  &:nth-child(2) {
    .type-of-transports__svg {
      fill: $special-blue-650;

      &--bicycle {
        fill: rgba($special-blue-650, 0.15);
      }
    }
  }

  &:nth-child(3) {
    .type-of-transports__svg {
      fill: $special-blue-650;

      &--bus,
      &--run {
        fill: rgba($special-blue-650, 0.15);
      }
    }
  }

  &:nth-child(4) {
    .type-of-transports__svg {
      fill: $special-blue-650;

      &--bicycle,
      &--run {
        fill: rgba($special-blue-650, 0.15);
      }
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content min-content min-content 1fr;
    padding: 34px 33px 0 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: max-content 205px 135px 220px 105px;
    padding: 0;
    margin-bottom: 0;
    width: 950px;
    min-height: 285px;
  }
}

.filter-profiles__picture {
  display: block;
  grid-row: 1/3;
  grid-column: 1/2;
  margin-bottom: 12px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;

  &:hover .filter-profiles__photo,
  &:focus .filter-profiles__photo {
    transform: scale(1.1);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-right: 28px;
    margin-bottom: 0;
    border-radius: 21px 21px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
    height: 100%;
    margin-right: 0;
  }
}

.filter-profiles__photo {
  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 100%;
    object-fit: cover;
  }
}

.filter-profiles__name {
  position: relative;
  display: block;
  grid-column: 2/4;
  grid-row: 1/2;
  padding-right: 39px;
  margin-left: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  cursor: default;

  &::after {
    position: absolute;
    right: 0;
    top: 9px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $special-red-400;
    border-radius: 50%;
  }

  &--second {
    &::after {
      background-color: $special-green;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-right: 17px;
    margin-bottom: 17px;
    margin-left: 5px;
    font-size: 30px;
    line-height: 30px;

    &::after {
      left: -12px;
      top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    padding: 46px 0 0 62px;
    margin-bottom: 20px;
    margin-left: 0;

    &::after {
      left: 44px;
      top: 54px;
    }
  }
}

.filter-profiles__like {
  position: relative;
  left: -21px;
  top: -9px;
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: static;
    grid-row: 3/4;
    grid-column: 3/4;
    margin-bottom: 13px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 3/4;
    margin-left: 0;
    margin-bottom: 48px;
  }
}

.filter-profiles__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: $special-red-10;
  }

  &:hover {
    &::before {
      background-color: $special-red-50;
    }

    svg {
      stroke: $special-red;
    }
  }

  &:active {
    &::before {
      background-color: rgba($special-red-300, 0.15);
    }

    svg {
      stroke: $special-red-300;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }
}

.filter-profiles__like-button svg {
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}


.filter-profiles__like-number {
  padding: 9px 0 3px 6px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: $special-blue-800;

  @media (min-width: $tablet-width) {
    width: max-content;
    padding-top: 12px;
    padding-left: 8px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $special-blue-800;
  }

  @media (min-width: $desktop-width) {
    padding-left: 6px;
  }
}

.filter-profiles__hashtag {
  grid-column: 1/4;
  justify-content: start;
  padding: 0 25px 0 8px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-content: start;
    padding-right: 0;
    margin-bottom: 46px;
    min-width: 240px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/4;
    margin-bottom: 45px;
    padding-left: 62px;
    padding-right: 20px;
    width: auto;
  }
}

.filter-profiles__plans {
  position: relative;
  grid-column: 1/4;
  padding-left: 7px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    height: 1px;
    background-color: $special-blue-10;
  }

  &::before {
    right: -21px;
    width: 54%;
  }

  &::after {
    left: -18px;
    width: 15px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    padding: 10px 0;

    .filter-profiles__subtitle {
      display: block;
    }

    &::before,
    &::after {
      top: 19px;
    }

    &::before {
      right: -34px;
      width: 80%;
    }

    &::after {
      left: -34px;
      width: 5%;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/3;
    grid-column: 4/6;
    padding: 0;

    .filter-profiles__subtitle {
      display: none;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

.filter-profiles__subtitle {
  display: block;
  width: 110px;
  font-size: 15px;
  line-height: 16px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    display: none;
    padding-left: 49px;
    width: 100%;
  }
}

.filter-profiles__flags-list {
  margin: 18px 0 11px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 49px 0 0 49px;
    margin: 0;
  }
}

.filter-profiles__flag-item {
  display: flex;
  align-items: center;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 28px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter-profiles__flag-item img {
  width: 26px;
  height: 18px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
  }
}

.filter-profiles__country {
  display: flex;
  padding-top: 3px;
  margin-left: 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-blue-650;

  @media (min-width: $tablet-width) {
    margin-left: 11px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
  }
}

.filter-profiles__transports {
  position: relative;
  grid-column: 1/3;
  padding-left: 7px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    height: 1px;
    background-color: $special-blue-10;
  }

  &::before {
    right: -25px;
    width: 61%;
  }

  &::after {
    left: -18px;
    width: 15px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 4/5;
    grid-row: 1/3;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 3/4;
    margin-bottom: 48px;
  }
}

.filter-profiles__level {
  position: relative;
  grid-column: 3/4;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    height: 1px;
    right: -21px;
    width: 12px;
    background-color: $special-blue-10;
  }

  .filter-profiles__subtitle {
    text-align: end;
  }

  @media (min-width: $tablet-width) {
    grid-column: 4/5;
    grid-row: 3/4;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 5/6;
    grid-row: 3/4;
  }
}

.filter-profiles__button {
  grid-column: 1/4;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 7px;
  font-size: 17px;
  line-height: 17px;

  &:hover {
    background-color: $special-yellow-700;
  }

  &:active {
    color: rgba($special-blue-800, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    min-width: 150px;
    padding: 15px 19px;
    margin: 0 0 13px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 150px;
    padding: 15px 0;
    margin: 0 0 48px 54px;
    font-size: 20px;
    line-height: 20px;
  }
}
