.filtering-by-countries {
  display: block;
  padding: 0;
  list-style: none;

  // &--filter {
  //   display: none;
  // }

  // &--selected {
  //   display: block;
  // }

  @media (min-width: $tablet-width) {
    &--filter {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;

    &--form {
      padding: 0;
    }
  }
}

.filtering-by-countries__item {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }
}

.filtering-by-countries__link {
  display: none;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: $special-blue-700;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 30px;
  }
}
