.filter {
  position: relative;
  margin-top: -20px;
  background-color: $special-blue-30;
  border-radius: 0 0 20px 20px;
  z-index: 5;

  @media (min-width: $tablet-width) {
    margin-top: -59px;
    border-radius: 0 0 59px 59px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 56px;
    margin-top: -56px;
  }
}

.filter--open {
  .filter__region,
  .filter__toggle {
    display: block;
  }

  .filter__title {
    margin-bottom: 34px;
  }

  .filter__toggle {
    display: grid;
  }

  @media (min-width: $tablet-width) {
    .filter__region {
      display: flex;
    }

    .filter__toggle {
      display: grid;
      column-gap: 88px;
      row-gap: 76px;
    }

    .filter__text--open {
      display: none;
    }

    .filter__text--close {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    .filter__title {
      margin-bottom: 0;
    }

    .filter__toggle {
      grid-template-columns: 1fr;
    }

    .filter__header {
      margin-bottom: 0;
      grid-column: 1/-1;
    }

    .filter__region {
      grid-row: 2/3;
    }
  }
}

.filter__container {
  display: grid;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 3fr 205px;
    row-gap: 60px;
    padding: 122px 72px 57px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
    row-gap: 39px;
    padding-top: 62px;
  }
}

.filter__header {
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 205px;
    justify-content: start;
    grid-column: 1/-1;
  }
}

.filter__title {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-blue-700;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 10px;
    background-image: url("../img/svg/icon_filter.svg");
    background-size: 15px 10px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 53px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 1px;
      left: 9px;
      width: 23px;
      height: 15px;
      background-size: 23px 15px;
    }
  }
}

.filter__interactive-button {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 17px;
  border: 0;
  background-color: inherit;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    height: auto;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 51px;
  }
}

.filter__switch-country {
  display: none;

  &--open {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.filter__region {
  display: none;
  padding: 33px 25px 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 28px;
    margin: 0;
    padding: 0;
  }
}

.filter__toggle {
  display: none;
}

.filter__text {
  display: none;
  position: relative;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: start;
  text-transform: uppercase;
  color: $special-blue-700;

  &--open {
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 0;
      width: 16px;
      height: 16px;
      background-image: url("../img/svg/filter-close.svg");
      background-size: 16px;
      background-repeat: no-repeat;
    }
  }

  &--close {
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 30px;
      height: 8px;
      background-image: url("../img/svg/dots.svg");
      background-size: 30px 8px;
      background-repeat: no-repeat;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--open {
      display: block;
      padding-right: 15px;
    }
  }
}
