.filtering-by-countries {
  display: none;
  padding: 20px;
  list-style: none;

  &--selected {
    display: block;
  }

  @media (min-width: $tablet-width) {
    &--filter {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filtering-by-countries__item {
  font-size: 16px;
  line-height: 22px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.filtering-by-countries__link {
  display: none;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: $special-blue-700;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 30px;
  }
}
