.hashtag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:14px;
  padding: 0;
  list-style: none;
}

.hashtag-list__item {
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey;
}
