.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // margin-left: auto;
}

.level__circle-svg {
  position: absolute;
  fill: rgba($basic-black, 0.6);
}

.level__number {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $basic-while;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: -2px;
    width: 30px;
    height: 1px;
    background-color: rgba($basic-while, 0.3);
  }

  // color: $special-blue-650;
}

.level__text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $basic-while;
  z-index: 1;

  // color: rgba($basic-black, 0.4);
}

.level--profile {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    background-image: url("../img/circle.svg");
  }

  .level__number {
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: $special-blue-800;
  }

  .level__text {
    font-size: 18px;
    line-height: 18px;
    color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    .level__number,
    .level__text {
      color: $basic-while;
    }
  }
}

.level--cards {
  justify-content: space-around;

  .level__subtitle {
    display: none;
  }

  .level__text {
    font-size: 15px;
    line-height: 16px;
    color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    .level__subtitle {
      display: block;
    }

    .level__text {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
  }
}
