.level {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
    background-image: url("/img/circle.svg");
  }

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;

    &::before {
      width: 94px;
      height: 94px;
      background-image: url("/img/circle-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 95px;
    height: 95px;
  }
}

.level--index {
  .level__number {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $basic-while;
  }

  .level__text {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: $basic-while;
  }
}

.level--form {
  .level__number {
    font-weight: 700;
    font-size: 38px;
    line-height: 38px;
    color: $special-blue-800;
  }

  .level__text {
    font-size: 18px;
    line-height: 18px;
    color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    .level__number,
    .level__text {
      color: $basic-while;
    }
  }
}

.level--catalog {
  .level__subtitle {
    font-size: 15px;
    line-height: 16px;
    color: $basic-grey;
  }

  .level__number {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
}
