.markers-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.markers-list__item {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: rgba($basic-black, 0.6);
}
