.page-main--catalog {
  background-color: $special-blue-00;

  @media (min-width: $tablet-width) {
    .page-main__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1009px 345px;
    column-gap: 85px;

    .page-main__header,
    .page-main__filter {
      grid-column: 1/-1;
    }

    .page-main__filter-profiles {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    .page-main__companion-filter {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.page-main__container {
  padding-top: 43px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 94px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 84px;
    padding-bottom: 64px;
  }
}

.page-main__header,
.page-main__background {
  background-color: $special-blue-700;
}

.page-main__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.page-main__link {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    display: block;
    grid-column: 2/3;
    padding-right: 61px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}
