.page-footer {
  position: relative;
  margin-top: -133px;
  background-color: $basic-while;
  border-radius: 30px 30px 0 0;
  z-index: 20;

  @media (min-width: $tablet-width) {
    margin-top: -70px;
    border-radius: 60px 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -66px;
    border-radius: 0 0 56px 56px;
  }
}

.page-footer__container {
  padding-top: 34px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}

.page-footer__logo {
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__svg {
  &--t-dark {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--dark {
      display: none;
    }

    &--t-dark {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
  }
}


.page-footer__social {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
