.page-header {
  position: relative;
  z-index: 10;
  margin-bottom: -1px;
  background-color: $special-blue-750;

  &--index {
    background-color: $special-blue-850;
  }

  @media (min-width: $tablet-width) {
    &--index {
      background-color: $special-blue-750;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $special-blue-790;

    &--form {
      background-color: $special-blue-700;
    }
  }
}

.page-header__container {
  padding: 15px 25px 9px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 240px 1fr;
    padding: 49px 60px 11px;
  }
}

.page-header--open {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $basic-while;
  z-index: 5;

  .page-header__information,
  .page-header__svg--dark,
  .page-header__close {
    display: block;
  }

  .page-header__close {
    margin: 0 auto;
  }

  .page-header__social {
    display: flex;
  }

  .page-header__svg--light,
  .page-header__open {
    display: none;
  }

  @media (min-width: $tablet-width) {
    .page-header__svg--dark,
    .page-header__svg-t--light {
      display: none;
    }

    .page-header__svg-t--dark {
      display: block;
    }

    .page-header__information button {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .page-header__social {
      display: none;
    }

    .page-header__information button {
      display: block;
    }
  }
}

.page-header__top {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;

  .page-header__button {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 1/2;

    .page-header__button {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-column: 1/2;
    margin-right: 40px;

    .page-header__button {
      display: none;
    }
  }
}

.page-header__information {
  display: none;

  @media (min-width: $tablet-width) {
    grid-row: 2/5;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;

    button {
      display: block;
    }
  }
}

.page-header__burger {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: inherit;
  border: none;

  @media (min-width: $tablet-width) {
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__close {
  display: none;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.page-header__list {
  padding-left: 0;
  padding-top: 76px;
  margin: 0 0 51px;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
    padding-right: 57px;
    margin-bottom: 144px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 100px;
    margin-bottom: 0;
  }
}

.page-header__user {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.page-header__button {
  margin-bottom: 66px;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: $special-yellow-700;
  }

  &:active {
    color: rgba($special-blue-800, 0.3)
  }

  @media (min-width: $tablet-width) {
    display: block;
    justify-self: end;
    width: 188px;
    margin-bottom: 0;
    padding: 15px 5px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    background-color: $special-yellow-200;
  }
}

.page-header__contacts {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
    padding-right: 57px;
    margin-bottom: 129px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column: 3/4;
    grid-row: 1/2;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.page-header__svg {
  &--dark {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--light {
      display: none;
    }
  }
}

.page-header__svg-t {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 168px;
    height: 42px;

    &--dark {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
  }
}
