.plan-cards {
  background-color: $special-blue-60;
}

.plan-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan-cards__item {
  background-color: $basic-while;
  border-radius: 10px;
}

.plan-cards__countries {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: $special-blue-650;
}

.plan-cards__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
}

.plan-cards__button {
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: rgba($basic-black, 0.3);
  background-color: inherit;
  border: none;
}
