.promo {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $special-blue-900;
  background-image: url("/img/globe-back-mobile.png");
  background-position: 0 -60px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 38px;
    background-color: $special-blue-750;
    background-image: url("/img/globe-back-tablet.png");
    background-position: center 240px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    background-color: $special-blue-790;
    background-image: url("/img/traveller-illustration.png"),
    url("/img/globe-back-desktop.png");
    background-size: 430px 640px, contain;
    background-position: 60% 0, center -80px;
  }
}

.promo__container {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    padding: 0;
  }
}

.promo__title {
  margin: 0 auto;
  padding: 41px 0 265px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    padding: 35px 0 0;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 101px 0 0 127px;
    text-align: start;
  }
}

.promo__contacts-information {
  display: flex;
  justify-content: space-between;
  margin-bottom: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo__review {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
  }
}

.promo__button {
  padding: 7px 30px 6px;
  line-height: 20px;
  z-index: 1;
}
