.registration {
  background-color: $special-blue-700;
}

.registration__container {
  padding-top: 72px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 109px;
    padding-bottom: 104px;
  }
}

.registration__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $special-yellow-900;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    font-size: 45px;
    line-height: 45px;
  }
}

.registration__form {
  position: relative;
  display: flex;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 618px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 850px;
  }
}

.registration__text {
  width: 216px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $basic-while;

  &:nth-child(3) {
    margin-bottom: 29px;
  }

  &:nth-of-type(4) {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 28px;
    line-height: 32px;

    &:nth-child(3) {
      margin-bottom: 65px;
    }

    &:nth-of-type(4) {
      margin-bottom: 40px;
    }
  }
}

.registration__link {
  color: $special-yellow-300;
}

.registration__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 64px;
  padding: 0;
  font-size: 0;
  background-color: $special-yellow-300;
  border: none;
  border-radius: 20px;

  @media (min-width: $desktop-width) {
    width: 324px;
    padding-left: 38px;
    padding-right: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $special-blue-650;
    text-align: start;
  }
}

.registration__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: none;
  border-radius: 20px;
}
