.region-list {
  margin-top: 0;
  list-style: none;
}

.region-list__item {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba($special-blue-700, 0.3);

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    color: $special-blue-700;
  }
}
