.registration {
  background-color: $special-blue-700;
}

.registration__container {
  padding-top: 72px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 72px 75px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 109px 133px 104px 133px;
  }
}

.registration__title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $special-yellow-900;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    font-size: 45px;
    line-height: 45px;
  }
}

.registration__form {
  position: relative;
  display: flex;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 618px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.registration__text {
  padding: 0 28px;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 65px;
    font-size: 28px;
    line-height: 32px;
  }
}

.registration__span {
  display: block;
}

.registration__link {
  color: $special-yellow-300;
}

.registration__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  padding: 0;
  font-size: 0;
  background-color: $special-yellow-300;
  border: none;
  border-radius: 15px;

  @media (min-width: $tablet-width) {
    width: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 324px;
    padding-left: 38px;
    padding-right: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $special-blue-650;
    text-align: start;
  }
}

.registration__button-arrow {
  position: absolute;

  @media (min-width: $desktop-width) {
    right: 34px;
    top: 35px;
  }
}

.registration__input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 22px 25px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-grey;
  border: none;
  border-radius: 15px;

  &::placeholder {
    color: rgba($basic-grey, 0.3) ;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    line-height: 24px;
  }
}
