.review {
  width: 100%;
  padding: 48px 0 0;
  background-image: linear-gradient($special-blue-800 287px, $special-blue-700 287px);

  @media (min-width: $tablet-width) {
    padding-bottom: 58px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding: 92px 60px 140px 61px;
  }
}

.review__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 365px 1fr;
    row-gap: 182px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 84px;
  }
}

.review__blockquote {
  padding: 0 50px;
  margin: 0 0 29px;
  width: 265px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding: 0 30px 0 73px;
    width: 367px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    padding: 27px 22px 0 81px;
  }
}

.review__steps {
  margin: 0 25px 39px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0 40px 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 39px;
    margin: 0;
  }
}

.review__text {
  display: block;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 28px;
    line-height: 33px;
  }
}

.review__author {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
