.review {
  width: 100%;
  padding: 48px 0 0;
  background-color: $special-blue-800;

  @media (min-width: $tablet-width) {
    padding-bottom: 96px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-top: 92px;
    padding-left: 63px;
    padding-right: 57px;
    padding-bottom: 126px;
  }
}

.review__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 365px 1fr;
    row-gap: 165px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 92px;
  }
}

.review__blockquote {
  margin: 0 0 29px;
  width: 265px;
  padding-left: 50px;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    width: 367px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4/5;
    padding-left: 67px;
    padding-right: 20px;
  }
}

.review__steps {
  padding: 0 25px 39px;
  background-color: $special-blue-700;
  background-image: linear-gradient($special-blue-800 22%, $special-blue-700 22%);

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    background-image: linear-gradient(45deg, #1F2847 50%, #2C314F 50%);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 39px;
    background-image: none;
    background-color: inherit;
  }
}

.review__text {
  display: block;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 28px;
    line-height: 33px;
  }
}

.review__author {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $basic-while;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
