.select-country {
  max-width: 488px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 42px;
    border-top: 1px solid $special-blue-50;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 137px;
      width: 1px;
      height: 407px;
      background-color: $special-blue-70;
      background-image: linear-gradient(to top, $basic-while, transparent);
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;

    &::after {
      right: 217px;
      height: 540px;
    }
  }
}

.select-country__fieldset {
  position: relative;
  display: grid;
  grid-template-columns: minmax(168px, 89%) 53px;
  padding: 0;
  margin: 0 0 21px;
  border: 0;
  border-radius: 7px;

  &:nth-child(3n) > .select-country__button,
  &:nth-child(4n) > .select-country__button {
    grid-column: 1/3;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    right: 49px;
    width: 8px;
    height: 11px;
    background-image: url("../img/svg/arrow-down.svg");
    background-repeat: no-repeat;
  }

  &:last-of-type {
    margin-bottom: 25px;

    &::before {
      background-image: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 139px;
    column-gap: 27px;
    margin-bottom: 15px;

    &::before {
      display: none;
      background-image: none;
    }

    &:nth-child(3n) > .select-country__button,
    &:nth-child(4n) > .select-country__button {
      grid-column: 1/2;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 222px;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 59px;
    }
  }
}

.select-country__fieldset--choose {
  position: relative;
  flex-direction: column;
  align-items: start;
  z-index: 1;

  .select-country__button {
    &:hover {
      border: 1px solid $special-blue-400;
    }
  }

  @media (min-width: $desktop-width) {
    .select-country__button {
      width: 730px;
    }
  }
}

.select-country__fieldset--open {
  .select-country__button {
    padding-left: 15px;
    letter-spacing: 0.02em;
    color: $basic-while;
    background-color: $special-blue-650;
  }

  .select-country__button svg {
    display: none;
  }

  .select-country__close {
    top: 10px;
    right: 12px;
    background-color: inherit;
  }

  .select-country__close-svg {
    fill: $basic-while;
  }
}

.select-country__button {
  position: relative;
  padding: 12px 15px 11px 9px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  font-family: $main-font;
  text-transform: uppercase;
  text-align: start;
  color: $special-blue-650;
  background-color: inherit;
  border: 1px solid $special-blue-120;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  z-index: 50;

  &--selected {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
    }

    &::before {
      width: 52px;
      height: 36px;
      background-image: linear-gradient(to left, $basic-while 68%, rgba(255, 255, 255, 0.3) 90%);
    }

    &::after {
      top: 14px;
      right: -5px;
      width: 8px;
      height: 8px;
      background-color: $special-blue-650;
      border-radius: 50%;
      z-index: 5;
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 25px 25px 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;

    &::before {
      // display: none;
      background-image: none;
    }

    &::after {
      top: 25px;
      right: -36px;
      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;

    &::after {
      right: -52px;
    }
  }
}

.select-country__button span {
  display: flex;
  overflow: hidden;
}

.select-country__button svg {
  position: absolute;
  opacity: 0.3;
  top: 10px;
  right: 14px;

  @media (min-width: $tablet-width) {
    top: 23px;
    right: 27px;
    width: 20px;
    height: 17px;
  }
}

.select-country__button--add {
  width: 100%;
  background-color: $special-blue-10;

  &::before {
    background-color: $special-blue-10;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.select-country__button--add svg {
  opacity: 1;
  stroke: $special-blue-110;
}

.select-country__button-plus {
  position: absolute;
  top: 13px;
  right: 15px;
}

.select-country__picture {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.select-country__flag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 42px;
  border: 1px solid $special-blue-120;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 113px;
    margin-left: auto;
    height: 47px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    justify-content: space-between;
  }
}

.select-country__img {
  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.select-country__close {
  position: absolute;
  top: -11px;
  right: -8px;
  width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $special-blue-10;
  z-index: 100;

  @media (min-width: $tablet-width) {
    top: 15px;
    right: 0;
    border-radius: 0;
    background-color: inherit;
  }
}

.select-country__toggle {
  position: absolute;
  top: 42px;
  border: 1px solid $special-blue-120;
  background-color: $basic-while;
  box-shadow: 0 8px 16px rgba($special-blue-450, 0.18);
  z-index: 10;

  @media (min-width: $tablet-width) {
    top: 69px;
  }
}

.select-country__close-svg {
  @media (min-width: $tablet-width) {
    width: 22px;
    height: 24px;
  }
}

.select-country__button--select,
.select-country__button--add {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 49px;
    top: 14px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid $special-blue-120;
    background-color: $basic-while;
    z-index: 5;
  }

  @media (min-width: $tablet-width) {
    &::before {
      right: -36px;
      top: 25px;
      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: -52px;
    }
  }
}
