.social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  &--header {
    display: none;
    width: 105px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
  }
}
