.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: 80px;
  }
}

.social-list--header {
  display: none;
  width: 105px;
}

.social-list--footer {
  width: 135px;
  margin-top: 0;

  .social-list__link {
    position: relative;
    display: block;
    width: 45px;
    height: 44px;

    &::before {
      position: absolute;
      top: 0;
      content: "";
      width: 45px;
      height: 44px;
      border-radius: 50%;
      background-color: $special-yellow-200;
    }
  }

  .social-list__svg {
    position: absolute;

    &--facebook {
      top: 12px;
      left: 17px;
    }

    &--vkontacte {
      left: 11px;
      top: 17px;
    }

    &--instagram {
      top: 13px;
      left: 13px;
    }
  }
}

.social-list__svg {
  @media (min-width: $tablet-width) {
    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vkontacte {
      width: 31px;
      height: 16px;
    }

    &--instagram {
      width: 24px;
      height: 24px;
    }
  }
}
