.tariffs-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tariffs-list__item {
  padding-top: 13px;
  padding-bottom: 17px;

  &::before {
    content: attr(data-number);
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    font-size: 16px;
    line-height: 16px;
    color: $basic-while;
    background-color: $special-yellow-900;
    border-radius: 50%;
  }
}

.tariff-table__name,
.tariff-table__price {
  display: block;
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: $basic-grey;
}
