.travel-cards__list {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.travel-cards--catalog {
  @media (min-width: $tablet-width) {
    .travel-cards__list {
      flex-wrap: wrap;
    }
  }
}

.travel-cards__item {
  position: relative;
  width: 270px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    width: 285px;
    margin: 0;
  }
}

.travel-cards__level {
  position: absolute;
  top: 26px;
  left: 34px;
}

.travel-cards__photo {
  border-radius: 12px 12px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 21px 21px 0 0;
    width: 285px;
    height: 286px;
  }
}

.travel-cards__description {
  padding: 0 36px 8px 46px;
  text-align: center;
  background-color: $basic-while;
  border-radius: 0 0 10px 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    border-radius: 0 0 20px 20px;
  }
}

.travel-cards__flags {
  display: flex;
  justify-content: center;
  margin: -12px 0 13px 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.travel-cards__flags img {
  margin-right: 20px;
}

.travel-cards__name {
  position: relative;
  display: block;
  padding-left: 23px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $special-blue-650;
  text-align: start;

  &::after {
    position: absolute;
    left: 7px;
    top: 7px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $special-red-400;
    border-radius: 50%;
  }

  &--second {
    padding-left: 33px;

    &::after {
      left: 17px;
      top: 8px;
      background-color: $special-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 22px;
  }
}

.travel-cards__like-number {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.travel-cards__subtitle {
  font-size: 15px;
  line-height: 16px;
}
