.travel-cards__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.travel-cards--catalog {
  @media (min-width: $tablet-width) {
    .travel-cards__list {
      flex-wrap: wrap;
    }
  }
}

.travel-cards__item {
  position: relative;
  width: 270px;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: 285px;
    margin: 0;
  }
}

.travel-cards__level {
  position: absolute;
  top: 25px;
  left: 30px;
}

.travel-cards__photo {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    width: 285px;
    height: 286px;
  }
}

// .travel-cards__level {
//   position: absolute;
//   top: 17px;
//   left: 17px;
// }

.travel-cards__description {
  padding-left: 46px;
  padding-right: 36px;
  padding-bottom: 20px;
  text-align: center;
  background-color: $basic-while;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.travel-cards__flags {
  display: flex;
  justify-content: space-around;
  margin-top: -12px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.travel-cards__name {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $special-blue-650;

  &::after {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: $special-red-400;
    border-radius: 50%;
  }

  &--second {
    &::after {
      background-color: $special-green;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 22px;
  }
}

.travel-cards__like-number {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.travel-cards__subtitle {
  font-size: 15px;
  line-height: 16px;
}
