.travel-cards__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.travel-cards__item {
  position: relative;
  margin-bottom: 9px;
}

.travel-cards__level {
  position: absolute;
  top: 17px;
  left: 17px;
}

.travel-cards__description {
  padding-left: 46px;
  padding-right: 36px;
  padding-bottom: 20px;
  text-align: center;
  background-color: $basic-while;
}

.travel-cards__flags {
  display: flex;
  justify-content: center;
  margin-top: -12px;
  margin-bottom: 14px;
}

.travel-cards__name {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $special-blue-650;
}

.travel-cards__like-number {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.travel-cards__subtitle {
  font-size: 15px;
  line-height: 16px;
}
