.type-of-transports {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.type-of-transports--travel-cards {
  width: 122px;
  margin: 0 auto 0 29px;

  .type-of-transports__item {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    margin-left: 53px;
  }
}

.type-of-transports--profile {
  display: flex;
  margin: 17px 0 14px;
  width: 125px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin: 0 7px 0 0;
    width: auto;

    .type-of-transports__item img {
      margin-left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
  }
}

.type-of-transports--user-profile {
  width: 128px;

  .type-of-transports__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $basic-while;
    cursor: pointer;

    &:nth-child(3n) {
      &:hover {
        .type-of-transports__svg {
          opacity: 0.6;
        }
      }

      &:active {
        .type-of-transports__svg {
          opacity: 0.8;
        }
      }
    }

    &:hover,
    &:active {
      filter: drop-shadow(0 2px 6px rgba($special-blue-800, 0.17));

      .type-of-transports__svg {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: $special-blue-40;

      .type-of-transports__svg {
        opacity: 0.3;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 172px;

    .type-of-transports__item {
      width: 44px;
      height: 44px;
    }
  }
}

.type-of-transports__svg {
  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}
