.value-level__inputs {
  position: relative;
  display: flex;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    z-index: 2;
  }

  &::after {
    top: 18.5px;
    left: 102px;
    height: 1px;
    background-color: $special-blue-200;
  }

  &::before {
    top: 13px;
    left: 102px;
    height: 11px;
    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 22px;
      left: 63px;
      width: 21px;
    }

    &::before {
      top: 15px;
      left: 63px;
      width: 21px;
      height: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 20px;
      left: 86px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 20px;
      left: 86px;
    }
  }
}

.value-level__value {
  position: relative;
  width: 110px;
  padding-top: 10px;
  padding-bottom: 7px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: $basic-black;
  background-color: $basic-white;
  border: 1px solid $special-blue-120;
  letter-spacing: 0.07em;

  &--first {
    width: 110.5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--second {
    margin-left: -1px;
    padding-right: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover,
  &:focus {
    z-index: 1;
    border-color: $special-blue-200;
  }

  &:active,
  &:focus {
    z-index: 1;
    border-color: $basic-black;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 74px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.06em;

    &--first {
      width: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 97.5px;
    padding-top: 10px;
    padding-bottom: 10px;

    &--first {
      width: 95.5px;
      padding-left: 5px;
    }
  }
}

.value-level__line {
  position: relative;
  margin-bottom: 24px;
  width: 220px;
  height: 2px;
  background-color: rgba($special-blue-650, 0.2);

  @media (min-width: $tablet-width) {
    order: 0;
    width: 281px;
    height: 3px;
    margin-top: -1px;
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
    height: 3px;
    margin-top: 36px;
    margin-left: 0;
  }
}

.value-level__pin {
  position: absolute;
  top: -4px;
  z-index: 1;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: $special-blue-650;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: -5.5px;
    width: 13px;
    height: 13px;
  }

  &--first {
    left: 67px;

    @media (min-width: $tablet-width) {
      left: 68px;
    }

    @media (min-width: $desktop-width) {
      left: 59px;
    }
  }

  &--second {
    left: 210px;

    @media (min-width: $tablet-width) {
      left: 268px;
    }

    @media (min-width: $desktop-width) {
      left: 178px;
    }
  }

  &:hover,
  &:focus {
    transform: scale(1.46);
  }

  &:active {
    box-shadow: 0 3px 7px rgba($basic-black, 0.24);
    outline: none;
  }
}

.value-level__depth {
  position: absolute;
  left: 67px + 5px;
  right: 10px - 5px;
  height: 2px;
  background-color: $special-blue-650;

  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 68px + 6.5px;
    right: 13px - 6.5px;
    height: 3px;
  }

  @media (min-width: $desktop-width) {
    left: 59px + 6.5px;
    height: 3px;
  }
}
