html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 30px;
  color: $special-blue-700;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  height: 100%;
  width: 100%;

  &--hidden {
    overflow: hidden;
  }
}

.logo {
  display: block;
}

.logo__svg--dark {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-black, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .svg-transport {
//   &--accordion {
//     .svg-transport,
//     .svg-transport svg,
//     .svg-transport svg {
//       fill: $special-blue-650;
//     }
//   }

//   @media (min-width: $tablet-width) {
//     width: 44px;
//     height: 44px;

//     svg {
//       width: 23px;
//       height: 22px;
//     }

//     &--profile {
//       width: 30px;
//       height: 30px;
//       margin-left: auto;
//       background-color: inherit;
//     }

//     &--bicycle svg,
//     &--run svg {
//       width: 29px;
//       height: 27px;
//     }
//   }
// }
